{% extends 'base.html.twig' %}

{% block title %}Add new flight!{% endblock %}

{% block head %}
    {{ parent() }}

    {% if data_departure %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
      
    <script>

    document.addEventListener('DOMContentLoaded', function() {
      var events = {{ data_departure|raw }};
      var calendarEl = document.getElementById('calendarDepart');
      var calendar = new FullCalendar.Calendar(calendarEl, {    
          events: events,
          eventOrder: "eventProperty",
          height: 550,
          themeSystem: 'bootstrap5',
          eventBackgroundColor: '#2c3e50',
        });
        calendar.render();
    });



    {% if type == 'return' %}
    document.addEventListener('DOMContentLoaded', function() {
      var events = {{ data_return|raw }};
      var calendarEl = document.getElementById('calendarReturn');
      var calendar = new FullCalendar.Calendar(calendarEl, {    
          events: events,
          eventOrder: "eventProperty",
          height: 550,
          themeSystem: 'bootstrap5',
          eventBackgroundColor: '#2c3e50',
        });
        calendar.render();
    });
    {% endif %}
    </script>
    
    {% endif %}


  

{% endblock %}

{% block body %}



  {# [{"title": "269złhehe", "start": "2024-02-26"},{"title": "9:30 - 11:30", "start": "2024-02-26"}]; #}
  
<div class="container-fluid mt-2">
    {% include 'sidebar.html.twig' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h4>Flight Search</h1>
      <div class="row">
        {{ component('SearchFlights', {
          form: form
      }) }}

        
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-text">Departure</span>
                <input type="text" id="departureDate" class="form-control" readonly>
                {% if type == 'return' %}
                <span class="input-group-text">Return</span>
                <input type="text" id="returnDate" class="form-control" readonly>
                {% endif %}
                <button class="btn btn-primary" id="addFlightBtn">Add Flight</button>
              </div>
            </div>
          
      </div>
      
      
      
      {% if data_departure %}
      <div class="row">       
          <!-- First Column (col-md-4 for medium and larger screens) -->
          <div class="col-md-4">
            <h4> Depatrute </h1>
            <div id='calendarDepart'></div>
          </div>
          {% if type == 'return' %}
          <!-- Second Column (col-md-4 for medium and larger screens) -->
           <div class="col-md-4">
            <h4> Return </h1>
            <div id='calendarReturn'></div>
          </div>
          {% endif %}

      {% endif %}      
      </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  //     // Example JavaScript to handle swap button click
  //     document.getElementById('swapButton').addEventListener('click', function () {
  //     var departureValue = document.getElementById('search_form_departure').value;
  //     var destinationValue = document.getElementById('search_form_destination').value;

  //     document.getElementById('search_form_departure').value = destinationValue;
  //     document.getElementById('search_form_destination').value = departureValue;
  // });

  $(document).ready(function() {
        $('#swapButton').click(function() {
            // Get the current values of the departure and destination fields
            var departureValue = $('select[name="search_form[departure]"]').val();
            var destinationValue = $('select[name="search_form[destination]"]').val();

            // Swap the values of the departure and destination fields
            $('select[name="search_form[departure]"]').val(destinationValue);
            $('select[name="search_form[destination]"]').val(departureValue);

            // Trigger the change event on the departure field to update the destination field's choices
            $('select[name="search_form[departure]"]').trigger('change');
        });
    });
</script>


{% endblock %}
