<div class="col-md d-md-flex justify-content-md-end" {{ attributes }}>
    <button class="btn btn-outline-danger" data-action="live#action:prevent" data-live-action-param="deleteFlight" data-live-id-param={{ flightGroup.flight.id }} data-live-id-return-param={{ flightGroup.returnFlight.id }} type="button">Delete</button>
</div>