{% if type %}
    <div class="col-md-4" {{ attributes }}>
      <div class="input-group">
        <span class="input-group-text">Departure</span>
        {{ form_widget(form.departureselect) }}
        {% if type == 'return' %}
        <span class="input-group-text">Return</span>
        {{ form_widget(form.destinationselect) }}
        {% endif %}
        {{ form_widget(form.save) }}
        
      </div>
      <button class="btn btn-outline-secondary" type="button" data-action="live#action" data-live-action-param="addDeparture" style="display: none;">
      </button>
      <button class="btn btn-outline-secondary" type="button" data-action="live#action" data-live-action-param="addDestination" style="display: none;">
      </button>

    </div>
{% endif %}